*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.p {
    background-color: aliceblue;
    display: inline-flex
    font-size: 30px;
    height: 35px;
    width: 100px;
}